.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 7%;
    position: relative;
    background-color: #EDF2F4;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
      

}

.logo{
    height: 75px;
    width:225px;
    
 
}

ul{
    flex: 1;
    list-style: none;
    text-align: end;
    
    
 
}

 li{
    display: inline-block;
    font-size: 25px;
    cursor: pointer;


}


a{
    text-decoration: none;
    color: black;
    margin:10px 20px;
}

.navbar li a:hover {
    color: #E71300; 
  }

.navbar a.active{
    border-bottom: 2px solid #E71300;

    
}