

.about{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width:90%;
   max-width:1200px;
   margin:100px auto;
   margin-top:100px;
   background-color: #EDF2F4;
   box-shadow: 10px 10px 8px -9px rgba(0, 0, 0, 0.5);
   border-radius: 8px;

}



.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    height:200px;
    object-fit: contain;
    width: auto;
    padding:20px 20px 20px 20px

}

.tags{
      align-self: center;
}



 
