*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost";
    
   
}

::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
}

.container{
    min-width: 100vw;
    min-height: 100vh;
    

}





@font-face {
    font-family: "Jost";
    src: url('./src/assets/Jost-VariableFont_wght.ttf') format('truetype');
}

canvas{
    position: fixed;
    top: 0;
}

