body{
    background-color: #EDF2F4;
    margin:0;
    padding:0;
    
}
.full-screen {
    height: 114vh; 
    width: 100%;   
    margin: 0;
    padding-bottom: 0px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    background-color: #EDF2F4;  
  }
  

.top{
    position: relative;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.animated{
    padding: 10px;
    position: absolute;
    font-size: 60px;
    background-color: #EDF2F4;
    margin-top: 5px;
    gap:10px;
    color:#E71300;
    text-align: center;
    padding-bottom:325px;
    
}
.main-text{
    text-align: center;
    color: #E71300;
    font-size:100px;


}

.content {
    width: 100%;
    margin: 2rem auto;
    padding: 1rem;
}

section{
    height: 65vh;
    margin-bottom: 100px;
    

}

.blood-cell{
    width:700px;
    height:auto;
}

.text-image{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

h1{
    margin-top:15px;
    margin-bottom: 0px;

    color: #E71300;

}

.header{
    font-size: 45px;
    
}

p{
    font-size: 35px;
}

.reveal-type{
    padding:15px 15px 0px 15px;
}